{% extends 'base.html' %}

{% block title %}Request History{% endblock %}

{% block content %}
{% load status_filters %}
<div class="container">
    <h2 class="mb-4">Request History</h2>

    {% if requests %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th>Requested On</th>
                        <th>Decision Date</th>
                        <th>Processed By</th>
                        <th>Reason</th>
                        {% if not user.is_faculty %}
                        <th>Requested By</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for req in requests %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ req.item.name }}</td>
                            <td>{{ req.quantity }}</td>
                            <td>
                                <span class="badge bg-{{ req.status|get_status_color }}">
                                    {{ req.status|capfirst }}
                                </span>
                            </td>
                            <td>{{ req.request_date|date:"Y-m-d H:i" }}</td>
                            <td>{{ req.decision_date|date:"Y-m-d H:i" }}</td>
                            {% if req.processed_by  %}
                                <td>{{ req.processed_by.username}}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            
                            <td style="max-width: 300px; white-space: normal; word-break: break-word;">
                                {{ req.reason|default:"—" }}
                            </td>
                            {% if not user.is_faculty %}
                            <td>{{ req.user.username }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-muted">No item requests found.</p>
    {% endif %}
</div>
{% endblock %}
